<%- include('partials/head') %> <%- include('partials/navBar') %>
<h1>The list of cats and count is <%= cats.length %></h1>
<ul>
  <%for(cat of cats){%>
  <li><%= cat %></li>
  <% }%>
</ul>
<%- include('partials/footer') %>
