<%- include('partials/head') %>
<body>
  <div>
    <%- include('partials/navBar') %>
    <!--  -->
    <div class="container">
      <h1>The word is <%= name %></h1>
      <h3>The Number of Subscribers are <%= subscribers %></h3>
      <p>Description:<%=description %></p>
      <% for(let post of posts){ %>
      <article><%= post.title %> - <b><%= post.author %></b></article>
      <% if(post.img){ %>
      <img src="<%=post.img %>" alt="" />
      <%}%> <% } %>
    </div>
  </div>
</body>
<%- include('partials/footer') %>
